# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/

# Ignore VSCode settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore PDF files
*.pdf